<aside>
      <button
            class="dg-sidebar-toggle toc-collapse-toggle"
            type="button"
            @click.stop="isSidebarCollapsed = !isSidebarCollapsed"
            :aria-label="isSidebarCollapsed ? 'Show outline sidebar' : 'Hide outline sidebar'"
            :title="isSidebarCollapsed ? 'Show outline sidebar' : 'Hide outline sidebar'">
            <i x-show="!isSidebarCollapsed" data-lucide="chevron-right"></i>
            <i x-show="isSidebarCollapsed" style="display: none;" data-lucide="chevron-left"></i>
      </button>
      <div class="sidebar" x-show.important="!isSidebarCollapsed" style="display: none;">
            <div class="sidebar-container">
                  {% for imp in dynamics.sidebar.top %}
                        {% include imp %}
                  {% endfor %}
                  {%if settings.dgShowLocalGraph === true%}
                        {%include "components/graphScript.njk"%}
                  {%endif%}

                  {%if settings.dgShowToc === true%}
                        {%set tocHtml= (content and (content|toc)) %}
                        {%if tocHtml %}
                              <div class="toc">
                                    <div class="toc-title-container">
                                          <div class="toc-title">
                                                {% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}
                                          </div>
                                    </div>
                                    <div class="toc-container">
                                          {{ tocHtml | safe }}
                                    </div>
                              </div>
                        {%endif%}

                  {%endif%}

                        {%if settings.dgShowBacklinks === true %}
                              {%if settings.dgShowBacklinks === true %}
                              <div class="backlinks">
                                    <div class="backlink-title">{{ meta.uiStrings.backlinkHeader }}</div>
                                          <div class="backlink-list">
                                          {%- set currentNode = graph.nodes[page.url] or graph.nodes[graph.homeAlias] -%}
                                          {%- if currentNode -%}
                                                {%- if currentNode.backLinks.length === 0 -%}
                                                      <div class="backlink-card">
                                                            <span class="no-backlinks-message">{{ meta.uiStrings.noBacklinksMessage }}</span>
                                                      </div>
                                                {%- endif -%}
                                                {%- for backlink in currentNode.backLinks -%}
                                                      {%- if graph.nodes[backlink].url != page.url -%}
                                                      <div class="backlink-card">
                                                            {%- if not meta.noteIconsSettings.backlinks -%}<i  data-lucide="link"></i> {%- endif -%}<a href="{{graph.nodes[backlink].url}}" data-note-icon="{{graph.nodes[backlink].noteIcon}}" class="backlink">{{graph.nodes[backlink].title}}</a>
                                                      </div>
                                                      {%- endif -%}
                                                {%- endfor -%}
                                          {%- endif -%}
                                    </div>
                              </div>
                        {%endif%}
                  {%endif%}
                  {% for imp in dynamics.sidebar.bottom %}
                        {% include imp %}
                  {% endfor %}
            </div>
      </div>
</aside>
