// body {
//     /***
//       ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
//       IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
//    ***/
//     //  background-color: white;
//     //  .content {
//     //   font-size: 14px;
//     //  }
//     //  h1 {
//     //   color: black;
//     //  }
//     --dg-content-font-size: 16px;

// }

body {
    font-family: "STSong", "华文宋体", serif;

    --dg-content-font-size: 16px;

    --background-primary: #f7f7f8;
    --background-secondary: #292c2e;
    --background-secondary-alt: #f7f7f8;
    --text-muted: #f7f7f8;
    --text-faint: #f7f7f8;
    --interactive-accent: #f7f7f8;

    --dg-content-line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    
    
}

:not(i):not([class*="icon"]):not([class*="lucide"]) {
    font-family: "STSong", "华文宋体", serif !important;
}
